@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@keyframes jump {
  10% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateYY(5px);
  }
  40% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(6px);
  }
  70% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(3px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
a {
  text-decoration: none;
}
#root {
  height: 100%;
  width: 100%;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
