.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #bd14ca;
  padding: 0 1rem;
  section {
    display: flex;
    align-items: center;
    height: 100%;
    svg {
      color: #bd14ca;
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
}

.chat-area {
  flex: 1;
}
.message-input {
  height: 10%;
  border-top: 3px solid #bd14ca;
}
.message-options {
  height: 40%;
  border: 3px solid #bd14ca;
}
