$btn-size: 3.3rem;
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #bd14ca;
  padding: 0 1rem;
  section {
    display: flex;
    align-items: center;
    height: 100%;
    svg {
      color: #bd14ca;
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
}
.chat {
  flex: 1;
  height: 100%;
}
.message-input {
  height: 12%;
  border-top: 3px solid #bd14ca;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-evenly;
  input {
    width: 80%;
    height: $btn-size;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-left: 0.2rem;
    outline: 0;
    border: 2px solid gray;
    color: black;
    &:focus {
      border: 2px solid #bd14ca;
      color: #bd14ca;
    }
  }
}
.button {
  height: $btn-size;
  cursor: pointer;
  width: $btn-size;
  background-color: #bd14ca;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 50%;
  svg {
    color: white !important;
    font-size: 1.8rem;
  }
}
.button-wrapper {
  height: 100%;
  width: $btn-size;
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
}
.message-options {
  border: 3px solid #bd14ca;
}

.side-panel {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #bd14ca;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid #bd14ca;
    column-gap: 10rem;

    svg {
      color: red;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
.emojis {
  overflow-y: auto;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  row-gap: 1rem;
  span {
    cursor: pointer;
    font-size: 2rem;
    &::selection {
      background: transparent;
    }
  }
}
