.button {
  font-size: 20px;
  min-height: 3rem;
  min-width: 10rem;
  border: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1em;
}

.modal {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  display: flex;
  background: #bd14ca;
  flex-direction: column;
  height: 90%;
  width: 50%;
  header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      right: 1rem;
    }
  }
}

.toggle {
  height: 2rem;
  width: 4rem;
  border-radius: 100px;
  cursor: pointer;
  background-color: gray;
  margin: 1rem 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  transition: 500ms ease-in-out;
  &[data-istoggled="true"] {
    background-color: lime;
    justify-content: flex-end;
  }
  &[data-istoggled="false"] {
    background-color: red;
    justify-content: flex-start;
  }
  div {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    border-radius: 50%;
  }
}
