.button {
  font-size: 1.3rem;
  border: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1em;
  background-color: red;
  min-height: 2.5rem;
}

.modal {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  display: flex;
  background: #bd14ca;
  flex-direction: column;
  height: 90%;
  width: 50%;
  header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      right: 1rem;
    }
  }
}

.toggle {
  height: 2rem;
  width: 4rem;
  border-radius: 100px;
  cursor: pointer;
  background-color: gray;
  margin: 1rem 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  transition: 500ms ease-in-out;
  &[data-istoggled="true"] {
    background-color: lime;
    justify-content: flex-end;
  }
  &[data-istoggled="false"] {
    background-color: red;
    justify-content: flex-start;
  }
  div {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    border-radius: 50%;
  }
}

.toast {
  position: fixed;
  right: 10px;
  height: 4rem;
  width: 20rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  div[class="toast-content"] {
    display: flex;
    align-items: center;
    z-index: 5;
    flex: 1;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
    span {
      font-size: 1rem;
      font-family: "Raleway", sans-serif;
    }
  }
  div[class="progress"] {
    height: 10%;
    z-index: 5;
  }
  div[class="cross"] {
    height: 10%;
    text-align: right;
    color: white;
    font-size: 1.2rem;
    z-index: 5;
  }
}

.audio-player {
  height: 4.5rem;
  width: 27rem;
  border-radius: 10px !important;
  background-color: white !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.caption {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  align-items: center;
  --height: 2.5rem;
  input {
    height: var(--height);
    width: 60%;
    border-radius: 100px;
    outline: 0;
    border: 0;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #bd14ca;
    &:focus {
      border: 2px solid black;
    }
  }
  button {
    height: var(--height);
    width: var(--height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd14ca;
    background-color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    svg {
      font-size: 1.5rem;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
