.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 47%;
  padding: 2rem 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}
.field input {
  height: 2.5rem;
  font-size: 1.2rem;
  outline: 0;
  font-family: "Nunito", sans-serif;
  padding: 0 2px;
  border: 1.5px solid black;
  border-radius: 5px;
}
.field input:focus {
  border: 2px solid #bd14ca;
}

.avatars {
  margin: 2rem 0;
}
